*{
    margin: 0;
padding: 0;}
.lg{
    border-radius: 50%;
    width: 40px;
height: 60px;}
body{
     background-color:#1f130d;
}

.fsmain{
   
    color: white;
    height: 700px;
   
}
.navbar{
    border: 1px solid white;
    margin-left: 40px;
    margin-right: 40px;
display: flex;
flex-direction: row;
  margin-top: 20px;
  background-color: #E3D095;
 
}
.itm{
    height: 20px;
background-color: #E3D095;
border-radius: 4px 4px 4px 4px;
padding: 10px 10px 10px 10px;
margin-top: 2px;
margin-bottom: 2px;
border: 1px solid #1f130d;
display: flex;
margin-left: 10px;
align-items: center;
cursor: pointer;
color:#1f130d;
transition: all 1s ease;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.content{
    justify-content: center;
    align-items: center;
    display: flex;
}

 .itm:hover{
    height: 20px;

border-radius: 4px 4px 4px 4px;
padding: 10px 10px 10px 10px;
margin-top: 2px;
margin-bottom: 2px;
background-color: #1f130d;
margin-left: 10px;
border: 1px solid #1f130d;
color: white;
cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} 
.parent{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}
.left{
 width: 60%;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
 background-color: #E3D095;
 color: #1f130d;
  padding: 4% 5% 1% 5%;
box-sizing: border-box;
margin-left: 30px;
margin-top: 20px;
margin-right: 20px;
margin-bottom: 10px;
}
.upr
{
font-size: 80px;
}

#bt1{
    color: #1f130d;
    margin-left: 0px;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 10px; 
    width: 100px;
    padding: 5px 5px 5px 5px;
    height: 40px;
     font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
#bt1:hover{
    background-color:rgb(61, 54, 41);

   
    border: 2px solid white;
color: white;

transition: all 2s ease;
 font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
#bt2:hover{
   background-color:#E3D095; 
    
    color: #1f130d;
  
    border: 1PX solid #1f130d;
  transition: all 2s ease ;
    
     font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#bt2{
   background-color: #1f130d;
    
    margin-left: 0px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
     font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:

    "wdth" 100;

font-size: 15px;   
 height: 40px;
    width: 100px;
    border: 1PX solid white;
    padding: 5px 5px 5px 5px;
}
.btm{
    padding: 30px 10px 10px 0px;
   margin-bottom: 10px;
   margin-top: 10px;
    display: flex;
gap: 6px;
}
.fnt{
     font-size: 30px;
font-weight: lighter;
    }
.fnt2{
    font-size: 17px;
    font-weight: bold;
    
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.imss{
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
     border: 1px solid #1f130d;
     background-color: #1f130d;
     color:white;
     margin-right: 15px;
}
.right{
  box-sizing: border-box;
  /* padding: 3% 3% 3% 3%; */
     width: 45%;
     height: 600px;
     overflow: hidden;
     margin-right: 40px;
    margin-bottom: 10px;
     display: flex;
     justify-content: center;
     align-items: center; 
     border: 2px solid white;
     margin-top: 20px;
     border-radius: 5px 5px 5px 5px;
  
}
.vi{
 object-position: center;
 object-fit: cover;
}
#ig{
   

    border-radius: 30px 30px 30px 30px ;
}
#ig2{
   

    border-radius: 30px 30px 30px 30px ;
}

.left2{
 width: 50%;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  padding: 40px 100px 10px 100px;
box-sizing: border-box;
margin-top: 20px;
}
.parent2{
    background-color: #E3D095;
     display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}
.right2{
  box-sizing: border-box;
  padding: 3% 3% 3% 3%;
     width: 36%;
     margin-left: 100px;
   
}
.parent3{
    background-color: #1f130d;
     color: white;
       margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    text-align: center;
}
.prcard{
    display: flex;
    
  flex-wrap: wrap;
    padding:50px 50px 50px 50px; 
    font-size: 30px;
    justify-content: space-between;
}
.card{
    background-color: #E3D095;
  width: 300px;
    padding: 20px 20px 20px 20px ;
    color: #1f130d;;
    border: 2px solid white;
    margin-bottom: 30px;
}
.btn3{
    height: 40px;
width: 50%;
margin-top: 10px;
border: 1px solid #1f130d;
color: #1f130d;
background-color: #E3D095;
margin-bottom: 10px;
 font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.btn3:hover{
    height: 40px;
    transition: all ease 1s;
width: 50%;
margin-top: 10px;
border: 1px solid #1f130d;
color: white;
background-color: #1f130d;
margin-bottom: 10px;
 font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.parent4{
    background-color:#E3D095;
     color:#1f130d;
       margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    text-align: center;
}
.review{
    display: flex;

    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 10px 5px 10px 10px;
    flex-wrap: wrap;
    display: flex;
}
.customer{
       background-color: #1f130d;
    border: 2px solid #E3D095;
    color:white;
    padding: 10px 10px 10px 10px;
    margin-bottom: 50px;
    width: 40%;
    margin-top: 30px;
}
.cutm{
    clip-path: circle(50% );
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
.rv {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
border: 1px solid #1f130d;
color: #1f130d;
font-size: 10px;
margin-left: 10px;
margin-right: 10px;
background-color: #E3D095;

}
#rv1{
font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  border: 1px solid #1f130d;
color: #1f130d;
font-size: 10px;
margin-left: 10px;
margin-right: 10px;
background-color: #E3D095;

}
#rv1:hover{
  background-color: #9c6b52;
  color: #E3D095;
}
.rv:hover{
      font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
border: 1px solid #1f130d;
color: #E3D095;
font-size: 10px;
background-color:#1f130d;
}
.rv2{
    

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24


}
.parent5{
     background-color: #1f130d;
     color: white;
       margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
margin-bottom: 50px;
padding-top: 30px;
}
input[type="mail"]{
    background-color:#1f130d;
    color: #E3D095;
border: 1px solid #1f130d;
height: 30px;
margin-top: 20px;
margin-bottom: 20px;
padding: 3px 3px 3px 3px;
border-radius: 5px 5px 5px 5px;
width: 50%;
}
.lew{
  background-color: #E3D095;
  color: #1f130d;
  margin-left: 100px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px 5px 5px 5px;
}
#bt5{
    color: #1f130d;
    margin: 5px;
    width: 30%px;
    padding: 5px 5px 5px 5px;
    height: 40px;
     font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/*menu page*/



.menu{
  padding: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}





@media only screen  and (max-width:1247px){
.parent{
    display: flex;

    margin-left: 20px;
    margin-right: 20px;


    margin-top: 5px;
}
.left{
width: 50%;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
 background-color: #E3D095;
 color: #1f130d;
 padding: 5px 55px 5px 25px;
box-sizing: border-box;
margin-left: 10px;
margin-top: 20px;
margin-right: 10px;
margin-bottom: 10px;
}
.upr{
  font-size: 50px;
}
  
.btm{
    padding: 30px 10px 10px 0px;
   margin-bottom: 5px;
   margin-top: 30px;
    display: flex;
gap: 6px;
}
.right{
  box-sizing: border-box;
  /* padding: 3% 3% 3% 3%; */
     width: 50%;
     height: 500px;
     overflow: hidden;
     margin-right: 10px;
    margin-bottom: 10px;
     display: flex;
     justify-content: center;
     align-items: center; 
     border: 2px solid white;
     margin-top: 20px;
     border-radius: 5px 5px 5px 5px;
     background-color: #E3D095;
  
}


#bt2{
   background-color: #1f130d;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
     font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:

    "wdth" 100;

font-size: 15px;   
 height: 40px;
    width: 100px;
    border: 1PX solid white;
    padding: 5px 5px 5px 5px;
}
#bt1{
    color: #1f130d;
   margin-left: 10px;
    width: 100px;
    padding: 5px 5px 5px 5px;
    height: 40px;
     font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.parent2{
    background-color: #E3D095;
     display: flex;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
    margin-top: 1px;
}
.fsmain{
  height: 620px;
}
.right2{
  width: 50%;
  box-sizing: border-box;
  padding: 10px 10px 10px 30px;
     width: 36%;
     margin-left: 20px;
 
 display: flex;
 margin-bottom: 20px;
}
#ig{
  width: 90%;
  height: 100%;
  margin: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
}
.left2{
 width: 50%;

  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
margin-left: 40px;
  padding: 10px 10px 10px 10px;
box-sizing: border-box;
margin-top: 20px;
}
.prcard{
    display: flex;
 
  flex-wrap: wrap;
    padding:20px 20px 20px 20px; 
    font-size: 30px;
    justify-content:center;
    align-items: center;
}
.card{
    background-color: #E3D095;
  width: 300px;
    padding: 20px 20px 20px 20px 20px;
    color: #1f130d;;
    border: 2px solid white;
    margin: 10px 10px 10px 10px;
}
.review{
    display: flex;

    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;
    flex-wrap: wrap;
    display: flex;
}
input[type="mail"]{
    background-color:#1f130d;
    color: #E3D095;
border: 1px solid #1f130d;

height: 30px;
margin-right: 10px;
margin-top: 20px;
margin-bottom: 20px;
padding: 3px 3px 3px 3px;
border-radius: 5px 5px 5px 5px;
width: 90%;
}
#bt5{
    color: #1f130d;
    margin: 5px;
    width: 100px;
    padding: 5px 5px 5px 5px;
    height: 40px;
     font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btm{
    padding: 10px 10px 20px 10px;
   margin-bottom: 20px;
    display: flex;
gap: 6px;
align-items: center;
}

.fnt2{
    font-size: 17px;
    font-weight: bold;
    width: 80px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.imss{
    padding: 1px 3px 3px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #1f130d;
}
}

@media only screen  and (max-width:729px){
.content{
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.navbar{
    border: 1px solid white;
    margin-left: 20px;
    margin-right: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 40px;

  margin-top: 20px;
  background-color: #E3D095;
 padding: 2px 2px 2px 2px;
}
#lgs{
  height: 30px;
  width: 25px;
margin-top: 2px;
margin-bottom: 2px;
}
.itm{
    height: 30px;
background-color: #E3D095;
border-radius: 4px 4px 4px 4px;
padding: 2px 2px 2px 2px;
margin-top: 2px;
margin-bottom: 2px;
border: 1px solid #1f130d;
display: flex;
margin-left: 10px;
align-items: center;
cursor: pointer;
color:#1f130d;
transition: all 1s ease;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.parent{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-right: 10px;
}
.left{
  width: 100%;
}
.right{
  width: 100%;
}
.parent2{
    background-color: #E3D095;
     display: flex;
     flex-direction:column-reverse;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
    margin-top: 470px;
    
}
.right2{
  width: 100%;
  margin: 2px 2px 2px 2px;
}


.left2{
 width: 100%;
text-align: center;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
margin-left: 5px;
  padding: 10px 10px 10px 10px;
box-sizing: border-box;
margin-top: 50px;
}
.parent5{
  display: flex;
  flex-direction: column;
}
.lew{
  margin: 10px 2px 2px 2px;
}
}